# Ignore build output directories
*/bin/
*/obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Visual Studio Code settings
.vscode/

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
